.grid
  .panel.panel-default
    p.page-title
      i.xo-icon-vm
      |  Create VM on
      a(ng-if="'pool' === container.type", ui-sref="pools_view({id: container.id})")
        |  {{container.name_label}}
      a(ng-if="'host' === container.type", ui-sref="hosts_view({id: container.id})")
        |  {{container.name_label}}
//- Add server panel
form.form-horizontal(ng-submit="createVM()")
  .grid
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-info-circle
        |  VM info
      .panel-body
        .form-group
          label.col-sm-3.control-label Template
          .col-sm-9
            select.form-control(ng-model="template", ng-options="template.name_label for template in templates | orderBy:natural('name_label') track by template.id", required="", ng-change = 'initExistingValues(template)')
        .form-group
          label.col-sm-3.control-label Name
          .col-sm-9
            input.form-control(type="text", placeholder="Name of your new VM", required="", ng-model="name_label")
        .form-group
          label.col-sm-3.control-label Description
          .col-sm-9
            input.form-control(type="text", placeholder="Optional description of you new VM", ng-model="name_description")
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-dashboard
        |  Performances
      .panel-body
        .form-group
          label.col-sm-3.control-label vCPUs
          .col-sm-9
            input.form-control(type="text", placeholder="{{template.CPUs.number}}", ng-model="CPUs")
        .form-group
          label.col-sm-3.control-label RAM
          .col-sm-9
            input.form-control(type="text", placeholder="{{template.memory.size | bytesToSize}}", ng-model="memory")
  .grid
    //- Cloud Config Panel, only for templates with existing disks
    .panel.panel-default(ng-if="isDiskTemplate")
      .panel-heading.panel-title
        i.fa.fa-cloud
        |  Config Drive
        span.pull-right
          label(style = 'cursor: pointer;')
            input.hidden(type = 'checkbox', ng-model = '$parent.configDriveActive')
            i.fa(ng-class = '{"fa-toggle-on": $parent.configDriveActive, "text-success": $parent.configDriveActive, "fa-toggle-off": !$parent.configDriveActive}', style = 'font-size: 1.5em;')
      .panel-body
        fieldset(ng-disabled = '!$parent.configDriveActive')
          .form-group
            label.col-sm-3.control-label SSH Key
            .col-sm-9
              input.form-control(type="text", placeholder="ssh-rsa AAAA.... you@machine", ng-model="$parent.cloudConfigSshKey", name="cloudConfigSshKey", required)
    //- Install panel, only if an installation method is needed
    .panel.panel-default(ng-if="!isDiskTemplate")
      .panel-heading.panel-title
        i.fa.fa-download
        |  Install settings
      .panel-body
        .form-group(ng-show="availableMethods.cdrom && !install_repository")
          label.col-sm-3.control-label ISO/DVD
          .col-sm-9
            .input-group
              span.input-group-addon
                input(
                  type = 'radio'
                  name = 'installation_method'
                  ng-model = '$parent.installation_method'
                  value = 'cdrom'
                )
              select.form-control.disabled(
                ng-disabled="'cdrom' !== installation_method"
                ng-model="$parent.installation_cdrom"
              )
                option(value = '') Please select
                optgroup(ng-repeat="SR in ISO_SRs | orderBy:natural('name_label') track by SR.id", ng-if="SR.VDIs.length", label="{{SR.name_label}}")
                  option(ng-repeat="VDI in SR.VDIs | resolve | orderBy:natural('name_label') track by VDI.id", ng-value="VDI.id")
                    | {{VDI.name_label}}
        .form-group(
          ng-show = '(availableMethods.http || availableMethods.ftp || availableMethods.nfs)'
        )
          label.col-sm-3.control-label Network
          .col-sm-9
            .input-group
              span.input-group-addon
                input(
                  type = 'radio'
                  name = 'installation_method'
                  ng-model = '$parent.installation_method'
                  value = 'network'
                )
              input.form-control(type="text", ng-disabled="'network' !== installation_method", placeholder="e.g: http://ftp.debian.org/debian", ng-model="$parent.installation_network")
        .form-group(ng-show = 'template.virtualizationMode === "hvm"')
          label.col-sm-3.control-label PXE
          .col-sm-9
            input(
              type = 'radio'
              name = 'installation_method'
              ng-model = '$parent.installation_method'
              value = 'pxe'
            )
        .form-group(ng-show='template.virtualizationMode === "pv"')
          label.col-sm-3.control-label PV Args
          .col-sm-9
            input.form-control(type="text", placeholder="{{template.PV_args}}", ng-model="$parent.pv_args")

        //- <div class="form-group"> FIXME
        //-   <label class="col-sm-3 control-label">Home server</label>
        //-   <div class="col-sm-9">
        //-     <select class="form-control">
        //-       <option>Default (auto)</option>
        //-     </select>
        //-   </div>
        //- </div>

    //- Interface panel
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-network
        |  Interfaces
      .panel-body
        table.table.table-hover
          tr
            th MAC
            th Network
            th.col-md-1 &#160;
            //- Buttons
          tr(ng-repeat="VIF in VIFs track by VIF.id")
            td
              input.form-control(type="text", ng-model="VIF.MAC", ng-pattern="/^\s*[0-9a-f]{2}(:[0-9a-f]{2}){5}\s*$/i", placeholder="00:00:00:00:00")
            td
              select.form-control(
                ng-options = 'network as network.name_label for network in networks | orderBy:natural("name_label") track by network.id'
                ng-model = 'VIF.network'
                required
              )
                option(value = '') Please select
            td
              .pull-right
                button.btn.btn-default(type="button", ng-click="removeVIF($index)", title="Remove this interface")
                  i.fa.fa-times
        .btn-form
          p.center
            .btn-form
              p.center
                button.btn.btn-success(type="button", ng-click="addVIF()")
                  i.fa.fa-plus
                  |  Add interface
    //- end of misc and interface panel
  //- Cloud config panel
  .grid(ng-if = 'cloudConfig')
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-cloud
        |  Cloud config
        .pull-right.small
          button.btn.btn-default(type = 'button', ng-click = 'isExpanded = !isExpanded'): i.fa(ng-class = '{"fa-plus": !isExpanded, "fa-minus": isExpanded}')
      .panel-body
        textarea.form-control(rows="20", collapse= '!isExpanded', ng-model='$parent.cloudConfig', name='cloudConfig')
          | {{cloudConfig}}

  //- Disk panel
  .grid
    .panel.panel-default
      .panel-heading.panel-title
        i.xo-icon-disk
        |  Disks
      .panel-body
        table.table.table-hover
          tr
            th.col-md-2 SR
            th.col-md-1 Bootable?
            th.col-md-2 Size
            th.col-md-2 Name
            th.col-md-4 Description
            th.col-md-1 &#160;
            //- Buttons
          tr(ng-repeat="VBD in (template.$VBDs | resolve) track by VBD.id", ng-if="isDiskTemplate")
            td
              select.form-control(ng-model="(VBD.VDI | resolve).$SR", ng-options="SR.id as (SR.name_label + ' (' + (SR.size - SR.usage  | bytesToSize) + ' free)') for SR in (writable_SRs | orderBy:natural('name_label'))", ng-change = 'saveChange(VBD.position, "$SR", (VBD.VDI | resolve).$SR)')
            td.text-center
              i.fa.fa-check(ng-if = 'VBD.bootable')
            td
              input.form-control(type="text", ng-model="existingDiskSizes[VBD.position]", ng-readonly = '!configDriveActive', ng-change = 'saveChange(VBD.position, "size", (existingDiskSizes[VBD.position]))', placeholder = "Size e.g 128 MiB, 8 GiB, 2 TiB...")
            td
              input.form-control(type="text", placeholder="Name of this virtual disk", ng-model="(VBD.VDI | resolve).name_label", ng-change = 'saveChange(VBD.position, "name_label", (VBD.VDI | resolve).name_label)')
            td
              input.form-control(type="text", placeholder="Description of this virtual disk", ng-model="(VBD.VDI | resolve).name_description", ng-change = 'saveChange(VBD.position, "name_description", (VBD.VDI | resolve).name_description)')
            td
          tr(ng-repeat="VDI in VDIs track by VDI.id")
            td
              select.form-control(ng-model="VDI.SR", ng-options="SR.id as (SR.name_label + ' (' + (SR.size - SR.usage  | bytesToSize) + ' free)') for SR in (writable_SRs | orderBy:natural('name_label'))")
            td.text-center
              input(type="checkbox", ng-model="VDI.bootable")
            td
              input.form-control(type="text", ng-model="VDI.size", required="", placeholder = "Size e.g 128 MiB, 8 GiB, 2 TiB...")
            td
              input.form-control(type="text", placeholder="Name of this virtual disk", ng-model="VDI.name_label")
            td
              input.form-control(type="text", placeholder="Description of this virtual disk", ng-model="VDI.name_description")
            td
              .btn-group
                button.btn.btn-default(type="button", ng-click="moveVDI($index, -1)", ng-disabled="$first", title="Move this disk up")
                  i.fa.fa-chevron-up
                button.btn.btn-default(type="button", ng-click="moveVDI($index, 1)", ng-disabled="$last", title="Move this disk down")
                  i.fa.fa-chevron-down
              .pull-right
                button.btn.btn-default(type="button", ng-click="removeVDI($index)", title="Remove this disk")
                  i.fa.fa-times
        .btn-form
          p.center
            .btn-form
              p.center
                button.btn.btn-success(type="button", ng-click="addVDI()")
                  i.fa.fa-plus
                  |  Add disk
  //- Confirmation panel
  .grid
    .panel.panel-default
      .panel-heading.panel-title
        i.fa.fa-flag-checkered
        |  Summary
      .panel-body
        .grid
          .grid-cell
            p.center.big {{name_label}}
              | &nbsp;
              span.small(ng-if="template.name_label") ({{template.name_label}})
        .grid
          .grid-cell
            //- p.stat-name vCPUs
            p.center.big(tooltip="vCPUs")
              | {{CPUs || template.CPUs.number || 0}}x&nbsp;
              i.xo-icon-cpu
          .grid-cell
            //- p.stat-name RAM
            p.center.big(tooltip="RAM")
              | {{(memory) || (template.memory.size | bytesToSize)}}&nbsp;
              i.xo-icon-memory
          .grid-cell
            //- p.stat-name Disks
            p.center.big(tooltip="Disks")
              | {{(VDIs.length) || (template.$VBDs.length) || 0}}x&nbsp;
              i.xo-icon-disk
          .grid-cell
            //- p.stat-name Interfaces
            p.center.big(tooltip="Network interfaces")
              | {{(VIFs.length) || (template.VIFs.length) || 0}}x&nbsp;
              i.xo-icon-network
        p.center(ng-if="isDiskTemplate")
          | Cloud configuration is&nbsp;
          strong.text-success(ng-if = 'configDriveActive') enabled.
          strong.text-danger(ng-if = '!configDriveActive') disabled.
        p.center
          button.btn.btn-lg.btn-primary(type="submit")
            i.fa.fa-play
            |  Create VM
